{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Welcome to the Self Service Platform, {{ name }}</h1>
<hr>
<p>
    We're glad to have you here. This platform is more than just a tool - it's your personal assistant, designed to
    empower you and your team by providing a suite of self-service tools that can be managed independently.
    <br><br>
    Our mission is to enhance productivity and efficiency by enabling teams to handle their tasks more effectively. We
    believe that by providing you with the right tools, we can help you streamline your workflow, automate routine
    tasks, and free up more time for complex problem-solving.
    <br><br>
    Here's what you can do with our application:

<ul>
    <li><strong>Manage Your Tasks Efficiently:</strong> Our platform provides a suite of self-service tools that help
        you manage your tasks more efficiently. From tracking your progress to organizing your tasks, we've got you
        covered.</li>
    <li><strong>Automate Routine Tasks:</strong> Spend less time on repetitive tasks and more time on what matters. Our
        platform allows you to automate routine tasks, freeing up more time for complex problem-solving.</li>
    <li><strong>Collaborate with Your Team:</strong> Our platform is designed to enhance team collaboration. Share your
        tasks, collaborate on projects, and improve your team's productivity.</li>
</ul>
We're excited to see how you'll use our platform to boost your productivity and efficiency.
</p>
{% endblock %}
{% block scripts %}

{% endblock %}