{% extends "base.html" %}

{% block title %}
Unauthorized
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-danger">Unauthorized</h1>
            <p class="text-center">Sorry, but you don't have the necessary permissions to view this page.</p>
            <p class="text-center">If you believe this is an error, please contact the site administrator.</p>
        </div>
    </div>
</div>
{% endblock %}